.experi .van-swipe-item {
    width: 170px !important;
}

.experi .van-dropdown-menu__title::after {
    position: absolute;
    top: 50%;
    right: -0.10667rem;
    margin-top: -0.13333rem;
    border: 0.08rem solid;
    border-color: transparent transparent #9A9A9A #9A9A9A;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: .8;
    content: '';
}

.experi .van-image {
    width: 313px;
    height: 209px;
}

.experi .van-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}